Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
 
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [L,QSA]
	
 # все запросы на index.php
RewriteCond %{REQUEST_URI} ^/
RewriteCond %{SCRIPT_FILENAME}  !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

#RewriteCond $1 !^(img|css|js)


#RewriteCond %{REQUEST_URI} !^(img|css|js|fonts) 
#RewriteRule ^(.*)$ index.php [L]

#RewriteRule ^(css|js)$ $1 [L]
